{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="card">
<div class="card-header">subtopic registration form</div>
  <div class="card-body">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.as_p }}
    <button type="submit" class="btn btn-success">Upload</button>
  </form>
</div>
</div>
<div class="card">
  <div class="card-header">
      <i class="fa fa-align-justify"></i>subtopic List</div>
  <div class="card-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Subtopic Name</th>
        <th scope="col">Description</th>
        <th scope="col">Topic</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody id="tbody">
      {% for st in st %}
      <tr>
          <td>{{st.id}}</td>
          <td>{{st.name}}</td>
          <td>{{st.description}}</td>
          <td>{{st.topic}}</td>
          <td>
              <input type="button" value="Delete" onliClick="deletecr()" class="btn btn-danger btn-sm btn-del" data-eid="{{st.id}}">

          </td>

      </tr>


      {% endfor %}
    </tbody>

</table>
          </div>
          </div>
<script src="{% static 'core/js/jquery.js' %}"></script>
<script src="{% static 'core/js/popper.js' %}"></script>
  {% include 'subtopic/ajax.html' %}
  {%endblock%}]